body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

#name {
    color: orange;
}

button {
    background-image: linear-gradient(orange, tomato);
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: white;

}

button:hover {
    border: 2px solid orange;
    cursor: pointer;

}

.top-banner {
    background-image: url(image/images/top-banner.png);
    background-repeat: no-repeat;

}

.middle-banner {
    background-image: url(image/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.last-banner {
    background-image: url(image/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.experiences {
    padding: 10px 5px 20px 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}

.experiences p {
    text-align: justify;
}

.full-stack {
    background-image: linear-gradient(red, orange);
    background-size: 8px;
    background-position: left;
    background-repeat: no-repeat;
}

.baby-dev {
    background-image: linear-gradient(blue, rgb(16, 196, 241));
    background-size: 8px;
    background-position: left;
    background-repeat: no-repeat;

}

footer {
    text-align: center;
}